.todos {
    width: 100%;

    background-color: var(--card-bg);

    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

    & .todoList {
        width: 100%;

        list-style-type: none;
    }

    & .infos {
        height: 52px;
        width: 100%;

        padding: 0 20px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 0.9em;
        color: var(--text-secondary);

        position: relative;

        & .clear {
            background-color: transparent;

            border: none;

            color: var(--text-secondary);
            
            cursor: pointer;

            &:hover  {
                font-weight: 500;
                color: var(--text-primary);
            }
        }
    }
}
