.filterBtn {
    background-color: transparent;

    border: none;

    color: var(--text-secondary);
    font-weight: 700;

    cursor: pointer;

    &.active {
        color: var(--bright-blue) !important;
    }

    &:hover  {
        color: var(--text-primary);
    }
}
