.main {
    min-height: 100vh;

    padding: 50px 24px;

    background-color: var(--main-bg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;

    display: flex;
    flex-direction: column;
    align-items: center;

    & > * {
        max-width: 540px;
        width: 100%;
    }
}

.light .main {
    background-image: url("/bg-mobile-light.jpg");
}

.dark .main {
    background-image: url("/bg-mobile-dark.jpg");
}

@media screen and (min-width: 720px) {
    .light .main {
        background-image: url("/bg-desktop-light.jpg");
    }

    .dark .main {
        background-image: url("/bg-desktop-dark.jpg");
    }
}
