.todo {
    width: 100%;
    min-height: 52px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;

    border-bottom: 1px solid var(--light-grayish-blue);

    & .left {
        width: calc(100% - 25px);

        display: flex;
        gap: 10px;
        align-items: center;
    }

    & .complete {
        width: 20px;
        height: 20px;

        border: 1px solid var(--light-grayish-blue);
        border-radius: 50%;

        background-color: transparent;

        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        &:last-child {
            border-bottom: none !important;
        }

        & img {
            width: 11px;
            height: 9px;
        }
    }

    & .description {
        cursor: pointer;

        color: var(--text-primary);

        display: inline-block;

        max-width: calc(100% - 30px);
        word-wrap: break-word;
    }

    & .delete {
        width: 18px;
        height: 18px;

        background-color: transparent;

        border: none;

        cursor: pointer;
    }

    &.completed {
        & .complete {
            border: none;

            background-image: var(--check-background);
        }

        & .description {
            text-decoration: line-through;
            color: var(--text-secondary);
        }
    }
}

@media screen and (min-width: 1000px) {
    .todo {
        &:not(.completed) .complete:hover {
            position: relative;

            border: none;

            background-image: var(--check-background);

            &::before {
                content: "";

                width: calc(100% - 3px);
                height: calc(100% - 3px);

                border-radius: 50%;

                background-color: var(--card-bg);

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        & .delete {
            visibility: hidden;
        }

        &:hover .delete {
            visibility: visible;
        }
    }
}
